cycler==0.10.0
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.22.0
pandas==0.23.4
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
six==1.11.0
tqdm==4.28.1
ta==0.3.7
keras==2.2.4
nose2==0.8.0
pymongo==3.7.2
